.grid-container {
  margin: 20px;
}

.table-container {
  flex: 1;
  height: 100px;
  min-height: 0;
  overflow: auto
}

.widget-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100%;
  margin: 0 20px 0 20px;
}
