<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ cardLayout?.columns }}" rowHeight="200px">

    <!--Mini Cards -->
    <mat-grid-tile *ngFor="let widget of getWidgets('miniWidgets').widgets"
                   [colspan]="cardLayout?.miniCard?.cols || 1"
                   [rowspan]="cardLayout?.miniCard?.rows || 1">
      <ng-container [ngSwitch]="widget.type">

        <app-card *ngSwitchDefault title="{{widget.name}}">
          <h1>Unknown Widget: {{widget.type}}</h1>
        </app-card>
      </ng-container>
    </mat-grid-tile>
    <!------------------------------------------------------------------------>

    <!--Medium Cards -->
    <mat-grid-tile *ngFor="let widget of getWidgets('mediumWidgets').widgets"
                   [colspan]="cardLayout?.mediumCard?.cols || 1"
                   [rowspan]="cardLayout?.mediumCard?.rows || 1">
      <ng-container [ngSwitch]="widget.type">

        <app-card *ngSwitchDefault title="{{widget.name}}">
          <h1>Unknown Widget: {{widget.type}}</h1>
        </app-card>
      </ng-container>
    </mat-grid-tile>
    <!------------------------------------------------------------------------>

    <!--Large Cards -->
    <mat-grid-tile *ngFor="let widget of getWidgets('largeWidgets').widgets"
                   [colspan]="cardLayout?.largeCard?.cols || 1"
                   [rowspan]="cardLayout?.largeCard?.rows || 1">
      <ng-container [ngSwitch]="widget.type">

        <app-card *ngSwitchCase="'acc-release'" title="{{widget.name}}">
          <div class="widget-container">
            <div class="table-container">
              <app-link-list [content]="widget.content"></app-link-list>
            </div>
          </div>
        </app-card>

        <app-card *ngSwitchDefault title="{{widget.name}}">
          <h1>Unknown Widget: {{widget.type}}</h1>
        </app-card>
      </ng-container>
    </mat-grid-tile>
    <!------------------------------------------------------------------------>
  </mat-grid-list>
</div>
